---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import BlogPost from '../components/BlogPost.astro';
import Footer from '../components/Footer.astro';

const posts = [
  {
    title: 'My First Blog Post',
    excerpt: 'This is the excerpt for my first blog post. I hope you enjoy it!',
    url: '/blog/first-post',
  },
  {
    title: 'Another Blog Post',
    excerpt: 'This is another post, with some more content to see how it looks.',
    url: '/blog/another-post',
  },
  {
    title: 'A Third Post',
    excerpt: 'The more the merrier! Here is a third post to fill out the grid.',
    url: '/blog/third-post',
  },
];
---

<Layout title="My Blog">
  <Header />
  <main>
    <Hero />
    <div class="blog-post-grid">
      {posts.map(post => (
        <BlogPost title={post.title} excerpt={post.excerpt} url={post.url} />
      ))}
    </div>
  </main>
  <Footer />
</Layout>

<style>
  main {
    max-width: 960px;
    margin: 0 auto;
    padding: 2rem;
  }
  .blog-post-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin-top: 3rem;
  }
</style>
