---
import Bio from "../components/Bio.astro";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import FeaturedPosts from "../components/FeaturedPosts.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Md Sohail">
	<Header />
	<main>
		<Bio />
		<FeaturedPosts />
	</main>
	<Footer />
</Layout>
