<div class="bio-wrapper">
  <div class="bio-text">
    <h2>👋 Hello</h2>
    <p>
        I'm Md Sohail – but you might stumble across <code>@kenopasa</code> in some corners of the internet. I work at Google where I focus mainly on backend engineering along with handling infrastructure and observability.
    </p>
    <p>
      I like to tinker with stuff around monitoring, networking and distributed systems.
    </p>
    <p>
      When I'm not in the tech zone, I'm probably playing badminton, on a road trip, or experimenting in the kitchen. I've got a soft spot for indie music too, and I've curated some of my favorites on Spotify playlist.
    </p>
  </div>
  <div class="profile-picture">
    <img src="/profile.JPG" alt="Md Sohail" />
  </div>
</div>

<style>
  .bio-wrapper {
    display: flex;
    gap: 1.5rem;
    align-items: center;
  }
  .bio-text {
    flex: 1;
  }
  .bio-text h2 {
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 1rem;
  }
  .profile-picture img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  @media (max-width: 768px) {
    .bio-wrapper {
      flex-direction: column;
    }
  }
</style>
