<div class="bio-wrapper">
	<div class="bio-text">
		<h2>👋 Hello</h2>
		<p>
			I'm Md Sohail <code class="highlight">(@talk2sohail)</code>, a fullstack
			backend engineer at <code class="highlight">@Nagarro</code>. I specialize
			in backend systems and cloud native applications.
		</p>
		<p>
			I like to pondering with observability, databases and distributed systems.
		</p>
		<p>
			When I'm not coding, you can find me playing badminton, on a road trip,
			experimenting in the kitchen, or listening to indie music.
		</p>
	</div>
	<div class="profile-picture">
		<img src="/profile.JPG" alt="Md Sohail" />
	</div>
</div>

<style>
	.bio-wrapper {
		display: flex;
		gap: 1.5rem;
		align-items: center;
	}
	.bio-text {
		flex: 1;
	}
	.bio-text h2 {
		font-size: 1.5rem;
		font-weight: bolder;
		margin-bottom: 1rem;
	}
	.bio-text p {
		line-height: 1.6;
	}
	.profile-picture img {
		border-radius: 50%;
		width: 150px;
		height: 150px;
		object-fit: cover;
	}
	@media (max-width: 768px) {
		.bio-wrapper {
			flex-direction: column;
		}
	}
	.highlight {
		background-color: var(--card-background);
		color: var(--accent1);
		padding: 0.2em 0.4em;
		border-radius: 3px;
		font-size: 0.8rem;
	}
</style>
